html
  head
    title="React Isomorphic App"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    h1#app!=content


  script(src='/build/vendor.js', defer)
  script(src='/build/app.js', defer)
  link(href='/build/vendor.css', rel="stylesheet")
  link(href='/build/app.css', rel="stylesheet")